server:
  port: 8080
  servlet:
    context-path: /identity-pet
spring:
  application:
    name: identity
  datasource:
    url: "jdbc:mysql://localhost:3306/identity-pet"
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true


